body {
	font-family: 'Quicksand', sans-serif;
	margin: 0;
	color: #5A6377;
	font-weight: 500;
	/*background-color: #f2fefe;*/
}

main {
	padding: 120px 120px 0 120px;
}

.material-border {
	box-shadow: 0px 1px 6.9px 0.1px rgba(0, 0, 0, 0.16);
}