doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width,initial-scale=1')
  title Todoer
  link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel='stylesheet')
  link(href='/static/css/app.ee03342e6eba3643d5b8ad571a0cecaf.css' rel='stylesheet')
#app
script(type='text/javascript' src='/static/js/manifest.2ae2e69a05c33dfc65f8.js')
script(type='text/javascript' src='/static/js/vendor.2a4baabdf95508431be4.js')
script(type='text/javascript' src='/static/js/app.d8dcebad5dea0d74fa28.js')
