doctype html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width,initial-scale=1')
  title tester
  link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons', rel='stylesheet')
  link(href='/static/css/app.ec403b74960e66d1559a5bba74dfb713.css', rel='stylesheet')
#app
script(type='text/javascript', src='/static/js/manifest.2ae2e69a05c33dfc65f8.js')
script(type='text/javascript', src='/static/js/vendor.9cbabbc79e1351771a1d.js')
script(type='text/javascript', src='/static/js/app.0d4523cdcca69204a5f0.js')
