doctype html
head
  meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
  title Information page for Todoer
  link(rel='stylesheet' type='text/css' href='https://rawgit.com/alvarotrigo/fullPage.js/master/jquery.fullPage.css')
  link(rel="stylesheet", href="/stylesheets/style.css")
  style.
    /* Style for our header texts
    * --------------------------------------- */
    h1{
      font-size: 5em;
      font-family: arial,helvetica;
      color: #fff;
      margin:0;
      margin-bottom: 20px;
    }
    h2 {
      font-size: 3em;
      font-family: arial,helvetica;
      color: #fff;
      margin:0;
    }
    p{
      color: #fff;
      font-family: arial,helvetica;   
      font-size: 24px;   
    }
    /* Centered texts in each section
    * --------------------------------------- */
    .section{
      text-align:center;
    }
    /* Overwriting styles for control arrows for slides
    * --------------------------------------- */
    .controlArrow.prev {
      left: 50px;
    }
    .controlArrow.next{
      right: 50px;
    }
    /* Bottom menu
    * --------------------------------------- */
    #infoMenu li a {
      color: #fff;
    }
  //if IE
    script(type='text/javascript').
      var console = { log: function() {} };
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js')
  script(type='text/javascript' src='https://rawgit.com/alvarotrigo/fullPage.js/master/jquery.fullPage.js')
  script(type='text/javascript').
    $(document).ready(function() {
      $('#fullpage').fullpage({
        anchors: ['firstPage', 'secondPage', '3rdPage'],
        sectionsColor: ['#0094F0', '#FF4F74', '#FFC600'],
      });
    });
#fullpage
  #section0.section
    .intro
      h1 The Architecture
      p SPA with express API server
      a.info-page-btn(href="/") BACK TO APP
  #section1.section
    #slide1.slide
      .intro
        h1 Challenges
        p
          | Developing SPA apps can be pretty hard here are the challenges and our solution
    #slide2.slide
      h1 CORS
      h2 Problem
      p Unable to access back end from frontend dev server due to CORS
      h2 Solution
      p You have to use the CORS library in express server then set Access-Control-Allow-Credentials to true and withCredentials to true in your http request library. Then you need to add this to app.js app.use(cors({credentials: true, origin: 'frontendserveraddress'})); 
    #slide3.slide
      h1 Testing
      p The mocha testing framework is very minimal it was hard writing tests espcially when we needed to maintain session between tests. Also the async nature of javascript made it even more difficult because different tests would conflict with each other.
  #section2.section
    .intro
      h1 Matching Algorithm
