main {
	display: grid;
	grid-template-columns: 2fr 1fr;
}


.project-item {
	width: 80%;
	display: flex;
}

.project-logo {
	max-width: 100%;
	max-height: 100%;
}

.project-item-image-container {
	width: 100px;
	height: 100px;
}